# SPDX-FileCopyrightText: 2025 Atay Özcan <atay@oezcan.me>
# SPDX-License-Identifier: GPL-3.0-or-later
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.rs]
indent_size = 4

[*.{sh,toml,yml,yaml,qml,nix,json}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false   # two trailing spaces = hard line break

[Makefile]
indent_style = tab
